
block article 
    article#post-ID.post.has-post-thumbnail 
        header.entry-header
            h2.entry-title
            .entry-meta
                span.posted-on 
                span.entry-date 
                span.update 
                span.author.card 
                span.url 
            .entry-content
                p
                    iframe(src="http://lopezpagan.com") Iframe No Supported!
                select 
            .entry-footer
                span.cat-links 
                span.tag-links 
                span.edit-links 
                a(href="#").post-edit-link link
                 span.screen-reader-text 
