
block menu 
    nav#site-navigation.main-navigation
        button.menu-toggle Menu 
        #primary-menu.menu
            ul
                li.page-item.active Item 1
                li.page-item Item 2
                li.page-item Item 3